
/* 
.test_view_tag {
  border-radius: 2px !important;
  font-size: 0.9rem !important;
  line-height: 25px !important;
  background-color: rgb(213, 242, 169) !important;
  border: none !important;
}

.test_viewtag_div {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.test_viewtag_div .ant-tag .anticon-close {
  color: rgb(237, 158, 126) !important;
  font-size: 10px !important;
  position: relative;
  top: -1px !important;
}

.bar_tag {
  padding-left: 2px;
  padding-right: 2px;
}

.texttag{
  border-radius: 2px;
  font-size: 13px;
  line-height: 25px;
  background-color: rgb(213, 242, 169);
  margin-bottom: 8px;
  margin-right: 10px;
  padding: 3px;
  padding-inline-start: 8px;
}

.closeicontestview{
  color:#ec6060;
  cursor: pointer;
  margin-left: 5px;
}  */



/* tab css */
.manage_test_main .ant-tabs-nav .ant-tabs-tab-active{
  color:#86b149;
}
.manage_test_main .ant-tabs-nav-wrap{
  display:flex;
  align-items: center;
  justify-content: center;
}
.manage_test_main .ant-tabs-ink-bar{
  background-color:#86b149;
}
.manage_test_main .ant-tabs-nav-container{
  font-size: 17px;
}
.manage_test_main .ant-tabs-nav .ant-tabs-tab:hover {
  color: #86b149;
}
.test_ch{
  margin:5px 0px 0px 5px;
}
.test_view{
  border: 1px solid #ccc;
  padding:10px;
}
.parent_cnt{
padding:25px;
}
.add{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}
.add_butt{
  background-color: #5ECB56 !important;
  text-transform: none !important;
  font-size: 13px !important;
  color:#fff !important;

}
 .manage_test_main .MuiButton-root{
  min-width: 53px !important;
}
.test_cost{
  background-color: #82af3f;
  padding:10px;
  width:30%;
  text-align: center;
  font-size: 15px;
  color:#fff;
}
.manage_test_main .ant-card-body{
  padding:0px !important;
}
.instruction{
  padding:10px;
  width:70%;
  
}
.card_det{
 
  width:100%;
  position: relative;
  border:0px !important;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 2px;
}
.test_cnt{
  display:flex;
}
.test_act{
  text-align: right;
  margin-bottom: 0px !important;
  color: #86b149;
}
.close_icon{
  position: absolute;
  right: 8px;
  top: -12px;
  z-index: 34567;

}
.preview_data{
  padding:10px;
  margin-top: 10px;
}
.closeicontestview{
    color: red !important;
    background-color: #fff;
    font-size: 2rem !important;
    padding: 2px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px #00000029;
}
.check_box .ant-checkbox-inner{
  width:20px;
  height:20px;
  border:1px solid #ccc;
}
.check_box .ant-checkbox-checked .ant-checkbox-inner{
background-color:#82ae3f;
}